__pycache__

_site/
.jekyll-cache/

Gemfile.lock

# editor settings
.idea
.vscode
_darcs
.DS_Store

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~
